
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.refrescar{
  margin-left: 20vw;
  padding: 29vw;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: antiquewhite;
}

h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 36px;
  text-align: center;
  
}

#descripcion{
  max-width: 20vw;
  width: 20vw;
  
}
#formulario {

  
  text-align: center;
  font-weight: bold;
  color:rgb(6, 80, 80);
  background-color: #79f8b4;
  margin-left: 33vw;
  max-width: 25vw;
  padding: 1vw;
  border-radius: 10px;
  border: 20px solid #e6f1ff;
}

label {
  font-family: Arial, sans-serif;
  font-size: 25px;
  display: block;
  margin-bottom: 12px;
}



input[type="text"],
textarea,
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
}

textarea {
  height: 100px;
}



button[type="button"]:hover {
  background-color: #1e1e1e;
  border-radius: 20px;
}

#formulario-consulta {
  text-align: center;
  font-weight: bold;
  color:rgb(6, 80, 80);
  background-color: #79f8b4;
  margin-left: 15vw;
  max-width: 60vw;
  padding: 1vw;
  border-radius: 10px;
  border: 20px solid #e6f1ff;
}




table {
  
  border-style: solid;
  border-color: white;
  margin-top: 30px;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  color: white;
}

th, td {
  
  text-align: center;
  background-color: #333;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  text-align: center;



}

button{
  margin-top: 1vw;
  margin-left: 2vw;
  color:white;
  border-radius: 20px;
  padding:1vw;
  background-color: rgb(0, 86, 32);
  
}

h1{
  color:#f2f5f6;
  background-color: #024f39;
}


#general{

  text-align: center;
  background-color: rgb(0, 0, 0);
  padding: 100px;

}


#añadir{
  background-color: rgb(255, 255, 255);
  
}
#regis{
background-color: rgb(255, 255, 255);

}

